@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit";
    font-weight: 700;
}
body{
    background-color: #fff;
}
.active li{
    color: #94EBDE;
}
